<div class="sideBar_container">
    <div class="logoName">
        <h1>SCFT</h1>
        <p>Sao chép màn hình và truyền tệp</p>
    </div>
    <div class="sideBar_menu">
        <a href="index.html" class="menu-btn" id="home-btn">
            <img src="./asset/home.svg" alt="Trang chủ">
            <span>Trang chủ</span>
        </a>

        <a href="FT.html" class="menu-btn" id="file-transfer-btn">
            <img src="./asset/open-folder.svg" alt="Truyền tệp">
            <span>Truyền tệp</span>
        </a>

        <a href="SC.html" class="menu-btn" id="screen-copy-btn">
            <img src="./asset/smartphone.svg" alt="Sao chép màn hình">
            <span>Sao chép màn hình</span>
        </a>
        <a href="PCScreen.html" class="menu-btn" id="pc-screen-btn">
            <img src="./asset/duplicate.svg" alt="Chiếu màn hình PC">
            <span>Chiếu màn hình PC</span>
        </a>

        <a href="Setting.html" class="menu-btn" id="settings-btn">
            <img src="./asset/setting.svg" alt="Cài đặt">
            <span>Cài đặt</span>
        </a>

    </div>
    <div class="sideBar_footer">
        <a href="../Contact.html" class="menu-btn" id="contact-btn">
            <img src="./asset/help-circle.svg" alt="Liên hệ">
            <span>Liên hệ</span>
        </a>

        <a href="index.html" class="menu-btn" id="logout-btn">
            <img src="./asset/log-out.svg" alt="Đăng xuất">
            <span>Đăng xuất</span>
        </a>
    </div>
</div>