<div class="sideBar_container">
    <div class="logoName">
        <h1>SCFT</h1>
        <p>Screen Copy & File Transfer</p>
    </div>
    <div class="sideBar_menu">
        <a href="index.html" class="menu-btn" id="home-btn">
            <img src="./asset/home.svg" alt="Home">
            <span>Home</span>
        </a>

        <a href="FT.html" class="menu-btn" id="file-transfer-btn">
            <img src="./asset/open-folder.svg" alt="File Transfer">
            <span>File Transfer</span>
        </a>

        <a href="SC.html" class="menu-btn" id="screen-copy-btn">
            <img src="./asset/smartphone.svg" alt="Screen Copy">
            <span>Screen Copy</span>
        </a>

        <a href="Setting.html" class="menu-btn" id="settings-btn">
            <img src="./asset/setting.svg" alt="Settings">
            <span>Settings</span>
        </a>

    </div>
    <div class="sideBar_footer">
        <a href="../Contact.html" class="menu-btn" id="contact-btn">
            <img src="./asset/help-circle.svg" alt="Contact Us">
            <span>Contact Us</span>
        </a>

        <a href="index.html" class="menu-btn" id="logout-btn">
            <img src="./asset/log-out.svg" alt="Log Out">
            <span>Log Out</span>
        </a>
    </div>
</div>
